<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785478071083-stp5h4tp5fuvdredtverd8662p9j3hpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785478071083-stp5h4tp5fuvdredtverd8662p9j3hpq</string>
	<key>API_KEY</key>
	<string>AIzaSyAOanhi0JMyoE68miAIysoplSjYzrXRvoc</string>
	<key>GCM_SENDER_ID</key>
	<string>785478071083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>willlam.Soulmate</string>
	<key>PROJECT_ID</key>
	<string>newagent-tipc</string>
	<key>STORAGE_BUCKET</key>
	<string>newagent-tipc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785478071083:ios:c35fe2ca88afc6af49cb6e</string>
	<key>DATABASE_URL</key>
	<string>https://newagent-tipc-default-rtdb.firebaseio.com</string>
</dict>
</plist>